body {
    color: #5a463d;
    background-color: #f4f1ea;
    
    margin: 0 auto; 
    width: 100%;         
    max-width: 1920px;
    
    text-align: center;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh; 
}